body {
	/* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
	font: 100%/1.5 system-ui;
}

#navigation{
	display: flex;
	position: relative;
	width: 40%;
	margin: auto;
	font-size: 30px;
	padding-bottom: 1%;
}

#navigation a {
	width: 100%;
	text-align: center;
	border-bottom-width: 0.2em;
	border-bottom-style: solid;
	border-bottom-color: grey;
	padding-bottom: -0.1em;
	background-color: rgb(181, 255, 176)
}

#moo {
	display: flex; 
	justify-content: center
}

#shrektitle{
	font-size: 55px;
	font-family:Arial, Helvetica, sans-serif;
	padding-left: 4%;
	font-weight: bold;
}

#myexp p {
	font-size: 25px;
}

#title {
	text-align: center;
	font-size: 80px;
	font-weight: 200;
}

#shreks {
	background-color: #b0ff91f2; 
	height: 600px;
	padding: 20px;            
	display: flex;
	justify-content: space-around;
  }

#shreks img {
	height: 80%;
	width: 100%;
	top: 10%;
	position: relative;
}

#navigation a:hover {
	background-color: rgb(147, 226, 147);
	opacity: 100%;
	transform:initial;
	border-bottom-color: rgb(54, 54, 54);
}